.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popup{
    position: relative;
    height: 70vh;
    width: 35%;
    background-color: #F8ECBE;
    border-radius: 1.8rem;
}

.close-button{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    position: absolute;
    right: 15px;
    top: -7%;
    color: white;
    font-size: 20px;
    font-weight: 900;
}
  
.title-modal{
    text-align: center;
    margin-top: 10px;
}

.form{
    padding: 15px;
}
  
.form input{
    width: 100%;
    padding: 18px 20px;
    margin: 8px 0;
    font-size: 1.2rem;
    display: inline-block;
    border: rgb(141, 141, 141) solid 1px;
    border-radius: 0.2rem;
    box-sizing: border-box;
    box-shadow: 1px 1px 4px;
}
  
.form button{
    background-color: white;
    padding: .6rem 2rem;
    margin: 8px 0;
    border: 0;
    box-shadow: 2px 2px 4px black;
    border-radius: 0.2rem;
    font-size: 1.2rem;

    cursor: pointer;
    background-color: rgb(230, 174, 21);
    color: white;
    transition: all ease .3s;
}
  
.form button:hover{
    background-color: rgb(172, 129, 13);
}