.button{
    height: 15vw;
    width: 15vw;
    border-radius: 100%;
    border: 7px solid white;
    background-color: #F6D25A;
    cursor: pointer;
    overflow: hidden;
}

.button img{
    height: 100%;
    width: 100%;
}

@media screen and (max-width : 768px){
    .button{
      height: 10rem;
      width: 10rem;
    }
}